In [4]:
import pandas as pd

## Read in the dataframe

In [3]:
diamonds = pd.read_csv("diamonds.csv") # dataframe

diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

## Question 1

In [6]:
max_price = diamonds["price"].max()

print ("The max price of diamonds is " + str(max_price))

The max price of diamonds is 18823

## Question 2

In [10]:
mean_price = diamonds["price"].mean()

print ("The mean price of diamonds is " + str(mean_price))

The mean price of diamonds is 3932.799721913237

## Question 3

In [12]:
number_ideal_diamonds = diamonds[diamonds["cut"] == "Ideal"].shape[0]

print ("The number of ideal diamonds is " + str(number_ideal_diamonds))

The number of ideal diamonds is 21551

## Question 4

In [21]:
num_distinct_colors = diamonds["color"].nunique()

set_distinct_colors = diamonds["color"].unique()

print ("The number of distinct colors among the diamonds is " + str(num_distinct_colors) + " and these colors are " + ",".join(list(set_distinct_colors)))

The number of distinct colors among the diamonds is 7 and these colors are E,I,J,H,F,G,D

## Question 5

In [23]:
# First step: filtering for premium diamonds

premium = diamonds[diamonds["cut"] == "Premium"]

# Second: getting the median carat

median_carat = premium["carat"].median()

print ("The median carat for pemium diamonds is " + str(median_carat))

The median carat for pemium diamonds is 0.86

## Question 6

In [24]:
# Getting the mean carat for each cut. We use the built-in groupby function in Pandas as below:

diamonds.groupby("cut").mean()["carat"].reset_index()

         cut     carat
0       Fair  1.046137
1       Good  0.849185
2      Ideal  0.702837
3    Premium  0.891955
4  Very Good  0.806381

## Question 7

In [25]:
# Same as above; we use the built-in groupby function in Pandas:

diamonds.groupby("color").mean()["price"].reset_index()

  color        price
0     D  3169.954096
1     E  3076.752475
2     F  3724.886397
3     G  3999.135671
4     H  4486.669196
5     I  5091.874954
6     J  5323.818020